<!-- task_list.html (Task List Template) -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h2>Task List of {{ user.username }}</h2>
<h2>Task List of {{ user.id }}</h2>
{% endif %}
<!--    <ul>-->
<!--        {% for task in tasks %}-->
<!--            <li><a href="{% url 'task_details' task.id %}">{{ task.title }}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}


    <tr>



      <th><a href="{% url 'task_details' task.id %}">{{ forloop.counter }}</a>
      <th scope="row"> {{ task.title }} </th>
      <td colspan="2">{{ task.due_date }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.priority }}</td>
      <td>
<!--      {% if task.image %}-->
<!--        <img src="{{ task.image.url }}" alt="{{ task.title }}">-->
<!--      {% endif %}-->
        {% if task.image %}
  <div style="width: 200px; height: 100px; overflow: hidden;">
    <img src="{{ task.image.url }}" alt="{{ task.title }}" style="width: 100%; height: 100%;">
  </div>
{% endif %}


      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}
