<!-- task_list.html (Task List Template) -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h2>Task List of {{ user.username }}</h2>
<h2>Task List of {{ user.id }}</h2>
{% endif %}

<table class="table mt-5">
  <tr>
    <th>SN</th>
    <th>Task</th>
    <th>Due Date</th>
    <th>Priority</th>
    <th>Images</th>
    <th>Actions</th>
  </tr>

    {% for task in tasks %}
  <tr>

    <td><a href="{% url 'task_details' task.id %}">{{ forloop.counter }}</a></td>
    <td>{{task.title}}</td>
    <td>{{task.due_date}}</td>
    <td>{{task.priority}}</td>

                <td>
                    {% if task.images.all %}
                        <img src="{{ task.images.first.image.url }}" alt="{{ task.title }} Image" style="max-width: 100px; height: 100px;">
                    {% else %}
                        No images available
                    {% endif %}
                </td>

    <td> <a href="/delete_recipe/{{recipe.id}}/" class="btn btn-danger"> Delete </a>
        <br>
        <a href="/edit_recipe/{{recipe.id}}/" class="btn btn-success"> Edit </a>
    </td>
  </tr>

    {% endfor %}
</table>

{% endblock %}
